@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
}

.body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

.navbar-nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light.navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.show > .nav-link {
  color: #5b9bd5;
}

.navbar-light.navbar-nav .nav-link {
  color: #5b9bd5;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #5b9bd5 !important;
}

.btn-outline-success {
  color: #5b9bd5;
  background-color: transparent;
  background-image: none;
  border-color: #5b9bd5;
}

.btn-outline-success:hover {
  color: #ffffff;
  background-color: #5b9bd5;
  border-color: #5b9bd5;
}

.col-12 {
  font-weight: bold;
}

.pb-2 {
  font-weight: bold;
}

.col-md-7 {
  padding-right: 80px;
}

.col-md-5 {
  margin-top: 50px;
}

.rounded-circle {
  border-color: #b3b3b3;
}

.col-md-6 {
  padding-left: 40px;
}

.footer-container {
  font-family: "Open Sans", sans-serif;
  background-color: #5b9bd5;
  color: #ffffff;
  padding-top: 20px;
  height: 10vh;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}
