@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
}

.body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

.btn-outline-success {
  color: #5b9bd5;
  background-color: transparent;
  background-image: none;
  border-color: #5b9bd5;
}

.btn-outline-success:hover {
  color: #ffffff !important ;
  background-color: #5b9bd5;
  border-color: #5b9bd5;
}

.row {
  margin-top: 130px;
}

.col-12 {
  font-weight: bold;
}

.pb-2 {
  font-weight: bold;
}

.col-md-7 {
  padding-right: 80px;
}

.col-md-5 {
  margin-top: 150px;
  padding-left: 50px;
}

.rounded-circle {
  border-color: #b3b3b3;
}

.col-md-6 {
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
}
