* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light.navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.show>.nav-link {
    color: #5b9bd5;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.navbar-light.navbar-nav .nav-link {
    color: #5b9bd5;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #5b9bd5 !important;
}

.searchbar {
    position: absolute;
    margin-top: 10px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.searchbar .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    border-radius: 3px;
    color: #000;
    transition: all 0.5s 0.3s ease;
}

.searchbar .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.searchbar .icon.active {
    background: #5b9bd5;
    color: #fff;
    transition: all 0.3s ease;
}

.searchbar input[type="text"].active {
    width: 250px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 45%;
    height: 100%;
}

section .imgBx img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
}

section .contentBx .formBx {
    width: 50%;
}

section .contentBx .formBx h2 {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx {
    margin-bottom: 10px;
}

section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgb(171, 194, 243);
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    background: transparent;
    border-radius: 10px;
}

section .contentBx .formBx .inputBx input[type="submit"] {
    background-color: rgb(94, 143, 199);
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx input[type="submit"]:hover {
    background: rgb(106, 149, 212);
}

section .contentBx .formBx .inputBx p {
    text-align: center;
    color: black;
    font-size: 15px;
}

section .contentBx .formBx .inputBx p a {
    color: rgb(106, 149, 212);
}

@media (max-width: 780px) {
    section .imgBx {
        display: none;
    }
    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        margin: 50px;
    }
}