@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.body {
  font-family: "Open Sans", sans-serif;
}

.navbar-nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light.navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.show > .nav-link {
  color: #5b9bd5;
}

.navbar-light.navbar-nav .nav-link {
  color: #5b9bd5;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #5b9bd5 !important;
}

.searchbar {
  position: absolute;
  margin-top: 10px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.searchbar input[type="text"] {
  border: 0;
  padding: 0;
  width: 0px;
  height: 35px;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.searchbar .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background: none;
  border-radius: 3px;
  color: #000;
  transition: all 0.5s 0.3s ease;
}

.searchbar .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.searchbar .icon.active {
  background: #5b9bd5;
  color: #fff;
  transition: all 0.3s ease;
}

.searchbar input[type="text"].active {
  width: 250px;
  padding: 0 10px;
  transition: all 0.5s 0.2s ease;
}

.carousel-item {
  height: 75vh;
  min-height: 75vh;
  background: no-repeat center center scroll;
}

.carousel-indicators .active {
  background-color: #5b9bd5;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235B9BD5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235B9BD5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-caption {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}

.carousel-caption h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-weight: bold;
}

.carousel-caption p {
  color: #fff;
  text-shadow: 1px 1px #000;
  font-weight: bold;
}

.carousel-caption h3 {
  color: #000000;
  font-weight: bold;
}

.carousel-caption h5 {
  color: #282828;
  font-weight: bold;
}

.carousel-caption .btn,
.carousel-caption .btn:active {
  border: none;
  background: #5b9bd5 !important;
  line-height: normal;
}
.carousel-caption .btn:hover,
.carousel-caption .btn:focus {
  background: #3578b5 !important;
}

.card {
  font-family: "Hind Siliguri", sans-serif;
  padding-bottom: 10px;
  margin: 8px;
}

.footer-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
  padding-bottom: 0%;
}
.modal-login .avatar {
  margin: 30px 0px 20px;
  text-align: center;
}
.modal-login .avatar img {
  width: 120px;
  border-radius: 50%;
}

.modal-login .modal-title {
  padding-top: 15px;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
}

.modal-login .form-group {
  position: relative;
}

.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .hint-text {
  text-align: center;
  padding-top: 10px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-login .btn,
.modal-login .btn:active {
  border: none;
  background: #5b9bd5 !important;
  line-height: normal;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #3578b5 !important;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
